target/
data/
.idea/
result-functional-tests.xml
.scannerwork
.env
.classpath
.factorypath
.project
.settings/
.dbeaver/
.mvn
bin/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode
!.vscode/extensions.json
.idea
.DS_Store
mvnw*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/main/resources/static/**/index.*
